<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>NSFaceIDUsageDescription</key>
	<string>The faceid is needed to authenticate the user</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>The location is needed to access the weather at the current location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>The location is needed to access the weather at the current location</string>
</dict>
</plist>
